header {
    background-color: grey;
    color: black;
    height: 40px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.logo {
    display: inline-block;
    background-color: pink;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    color: white;
}

nav {
    float: right;
}

nav a {
    display: inline-block;
    height: 40px;
    line-height: 40px;  
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: green;
}