header {
    background-color: grey;
    color: black;
    height: 40px;
}

.logo {
    display: inline-block;
    background-color: green;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
}

nav {
    float: right;
}

nav a {
    display: inline-block;
    height: 40px;
    line-height: 40px;  
    padding: 0px 10px;
    color: green;
}

nav a:hover {
    background-color: lightgrey;
}